{% extends 'base.html' %}

{% block title %}アンケートに回答{% endblock %}

{% block content %}
    <h1>サービス満足度アンケート</h1>
    <form action="{{ url_for('submit') }}" method="post">
        <div>
            <label for="name">お名前:</label><br>
            <input type="text" id="name" name="name" required>
        </div>
        <br>
        <div>
            <label for="satisfaction">満足度:</label><br>
            <select id="satisfaction" name="satisfaction" required>
                <option value="">選択してください</option>
                <option value="大変満足">大変満足</option>
                <option value="満足">満足</option>
                <option value="普通">普通</option>
                <option value="不満">不満</option>
            </select>
        </div>
        <br>
        <div>
            <label for="comments">ご意見・ご感想:</label><br>
            <textarea id="comments" name="comments" rows="4" cols="50"></textarea>
        </div>
        <br>
        <div>
            <button type="submit">送信</button>
        </div>
    </form>
{% endblock %}
